.team {
  @extend %container;
  padding-top: 100px;
  margin-bottom: 82px;

  &__about {
    color: $font-col-second;
    @extend %second-font;
    font-size: $small-font;
    line-height: 24px;
    padding: 0px 82px;
    text-align: center;
    margin-bottom: 92px;
  }

  &__list {
    @extend %list;
    @include flex-align ('between');
  }

  &__item {
    flex-basis: 380px;

    &:hover {
      .team__img {
        top: -10px;
        left: -10px;}

      .team__item--hover {
        visibility: visible;
        top: -10px;
        left: -10px;
        bottom: 10px;
        right: 10px;
      }
    }
  }

  &__bg {
    position: relative;
    background-color: $main-color;
    margin-bottom: 30px;
  }
}

.team__img {
  position: relative;
  top: 0;
  left: 0;
  transition-property: left, top;
  transition-duration: $transition-duration;
}

.team__item--hover {
  transition-property: visibility, left, top, right, bottom;
  transition-duration: $transition-duration;
  position: absolute;
  @include flex-align ('center');
  visibility: hidden;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  background: $gradient;
}
  
.social-icon {
  background-color: $second-hover-color;
  transition-property: background-color;
  transition-duration: $transition-duration;
  margin-right: 2px;

  &:last-child {
    margin-right: 0px;
  }
     
  &:hover {
    background-color: $hover-color;
  }

  .social-icon__svg {
    fill: $hover-color;
  }
}

.social-icon {
  &:hover .social-icon__svg {
    fill: $white-color;
  }
}


.social-icon a {
  @include flex-align ('center');
  width: 56px;
  height: 56px;
}

.social-icon__svg {
  fill: $hover-color;
  transition-property: fill;
  transition-duration: $transition-duration;
}

.social-icon__span {
  @extend %visually-hidden
  }

.team__text {
  color: $font-col-second;
  @extend %second-font-italic;
  font-size: $small-font;
  line-height: 24px;
  text-align: center;
}
  
.team__header {
  text-align: center;
}