$hover-color: #f38181;
$second-hover-color: #fce38a;
$main-color: #95e1d3;
$font-col-main: #333333;
$font-col-second: #999999;
$white-color: #fff;
$border-col-main: #e7e7e7;
$placeholder-color:#cccccc;

$small-font: 14px;
$sm-font: 24px;
$mid-font: 30px;
$lg-font: 72px;
$big-font: 150px;

$gradient: linear-gradient(
  to top,
  rgba(252, 227, 138, 0.9),
  rgba(243, 129, 129, 0.9)
);

$transition-duration: 0.2s;